/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header{
    background:url('/img/download.png') no-repeat center;
    width:100%;
    background-size: cover;
    z-index: 999;
    background-color: black;
    background-attachment: fixed;
    background-position: 50%;
}

.link-pages{
    color:#31323b;
}

ul li{
    list-style-type: none;
    font-size: 16px;
}
.icons{
    font-size: 11px !important;
}
.py-lg-ff{
    padding:100px 0px 40px 0px;
}


.ud-con{
    display:flex;
    justify-content:space-between;
    /* flex-wrap: wrap; */
    align-items: center;
}
.first-container{
    width:600px;
}
.second-container{
    width:520px;
}



.card-width{
    width:320px;
}
.z-index{
    z-index: 999;
}

.last-section{
    width:450px;
}



/* feature */

.feature-wrap-1{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    gap:3rem;
}
.feature-wrap-2{
    display:flex;
    justify-content:center;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap:3rem;
}
.w-50{
  width:500px !important;
}
.add-bg-line{
    background:url(/img/lines_f077faf53d.svg) no-repeat center;
    background-attachment: fixed;
}


/* contact form */

.contact-form{
    /* width:700px; */
    border:1px solid #ccc;
    border-radius: 8px;
    padding:40px;
}

.contact-container{
    display:flex;
    justify-content: center;
}
.contact-wrapper{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap-reverse;
}
#img-ani img{
    animation-name: animated-it;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animated-it {

    50%{
        transform: rotate(-6deg);
    }
    100%{
        transform: rotate(6deg);
    }
}




.more-data-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
}
.card-data{
    border:1px solid #ccc;
    border-radius: 8px;
    padding:20px;
    width:320px;
}


@media (max-width:1200px) {
    
    
    
}

@media (max-width:1000px) {
    .ud-con{
        display:flex;
        justify-content:center;
        flex-wrap: wrap-reverse;
        align-items: center;
    }
    .second-container{
        width:450px;
        margin-bottom: 40px;
    }
    .first-container{
        width:500px;
        text-align: center;

    }
    .justify{
        justify-content: center;
    }

    .feature-wrap-1{
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;
    }
    .feature-wrap-2{
        display:flex;
        justify-content:center;
        flex-wrap: wrap-reverse;
        align-items: center;
    }
    .text-align-c{
        text-align: center;
    }
    
}

@media (max-width:700px){

    .second-container{
        width:300px;
        margin-bottom: 40px;
    }
    .first-container{
        width:500px;
        text-align: center;

    }
    .feature-wrap-1{
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;
        gap:0.1rem;
    }
    .feature-wrap-2{
        display:flex;
        justify-content:center;
        flex-wrap: wrap-reverse;
        align-items: center;
        gap:0.1rem;
    }
    .text-center-all{
        text-align: center;
    }
}